<% const postList = page.posts.sort((a, b) => b.sticky - a.sticky || new Date(b.create) - new Date(a.create)) %>
<div class="home-content-container fade-in-down-animation">
    <ul class="home-article-list">
        <% postList.each(post => { %>
            <li class="home-article-item <%= post.sticky ? 'post_sticky' : '' %>">
                <h3 class="home-article-title">
                    <% if (post.sticky) { %>
                        <i class="fa-solid fa-angles-right fa fa-icon-top"></i>
                    <% } %>
                    <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                </h3>
                <%- partial('_partial/home-article-meta-info', { post: post }) %>
            </li>
        <% }); %>
    </ul>

    <div class="home-paginator">
        <%- partial('_partial/paginator', { pageObject: page }) %>
    </div>
</div>
